* {
  margin: 0px;
}

@font-face {
  font-family: GOT;
  src: url('./Game\ of\ Thrones.ttf');
}

body {
  background-image: url('https://images2.alphacoders.com/126/1260061.jpg');
  background-size: cover;  
  background-position: top;
}

/* Cabeçalho */

header{
  display: flex;
  background-color: rgb(0, 27, 58);
  margin: 0px;
  justify-content: center;
  padding: 30px;
}

header h1 {
  font-family: GOT;
  font-weight: 100;
  color: white;
}

.section-finder {
  display: flex;
  margin-top: 50px;
}

/* Main section */

main {
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 40px;
}

.section-finder {
  padding-bottom: 20px;
}

/* Seção de pesquisa */
#search-area {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

#search-area p {
  margin: 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#search-area input {
  margin: 20px;
  width: 50%;
  text-align: center;
  height: 30px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid rgb(55, 82, 134);
}

#search-area input:focus {
  outline: none;
  background-color: rgb(238, 238, 238);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#search-area button {
  background-color: rgb(0, 27, 58) ;
  width: 50%;
  height: 40px;
  color: white;
  font-size: x-large;
  font-family: GOT;
  border: none;
  border-radius: 10px;
}

#search-area button:hover {
  cursor: pointer;
  background-color: rgb(2, 40, 83) ;
}

/* Seção de resultados */
#search-result {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#search-result .image-found {
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 80px;
  padding: 30px;
  justify-self: flex-start;
}

#search-result .no-image {
  width: 0px;
  height: 0px;
}

#search-result p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding-left: 30px;
  padding-right: 30px;
}

#search-result .error-message {
  color: rgb(173, 60, 60);
}

/* Seção de História do personagem */

#history{
  display: flex;
  padding: 20px 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#history h2{
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}

#history p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: large;
}